:root{
  --main-color: #091f43;
  --accent-color: #d1515a;
  --third-color: #DFDFDE;
}

*{
  box-sizing: border-box;
}

/* body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}