:root {
  --main-color: #091f43;
  --accent-color: #d1515a;
  --third-color: #dfdfde;
  --smooth-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--main-color) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

#app {
  margin: 3vh 0 0 0;
  width: 100%;
  /* height: 97vh; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  padding: 0 2% 0 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}

nav > * > a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-button {
  all: unset;
  padding: 10px 30px 10px 30px;
  background: var(--main-color);
  color: var(--third-color);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

#logout {
  background: var(--accent-color);
  color: var(--third-color);
}
